<%= form_tag '/create', method: :post do %>
<br>
<p>New User?</p>
  <p>
    <%= label_tag :Movie_Name %>
    <%= text_field_tag :fn %>
    <%= label_tag :Release_Date %>
    <%= date_field_tag(:datetime_ida) %>
 </p>
<p>
    <%= label_tag :Email %>
    <%= email_field_tag :em %>
</p>
<p>
    <%= label_tag :Password %>
    <%= password_field_tag :pw %> 
</p>
<p>
    <%= label_tag :Password %>
    <%= password_field_tag :cpw %> 
</p>
<%= submit_tag("Register")%>
<% end %>
