<li>

 <% @em.each do |x| %>
<ul><%= x %></ul>
<% end %>

</li>

<%= form_tag '/addactors', method: :post , :multipart=>true do %>
<br>
<p>Add Actors
<% 
a1 = session[:id] 
check = Admin.where(:id=>a1)
puts(check[0].fname)
%>
<%= check[0].fname %>
<%= check[0].lname %> 
</p>
  <p>
    <%= label_tag :Actor_First_Name %>
    <%= text_field_tag :fname %></br></br>
    <%= label_tag :Actor_Last_Name %>
    <%= text_field_tag :lname %></br></br>
    <%= label_tag :Date_Of_Birth %>
    <%= text_field_tag :dob %></br></br>
    <%= label_tag :Actor_Details %>
    <%= text_area_tag :notes %></br></br>
     Add Photo <%= file_field_tag :picture %>
 </p>
<%= submit_tag("Add Actor") %>
<% end %>
