<html>
<title>MOVIE PORTAL</title>
<head>
<!----vendor css---->
<!--vendor javascript-->

</head>

</head>
<body>
<div class="wrap">
<!--<div id="logo"></div>-->

  <div id="nav">
<ul>

<li></li>


<li class="Button"><%= link_to 'Log Out' ,controller: 'login', action: 'logout',id: session[:id]%></li>


<li class="Button"><a><%= link_to 'Home' ,controller: 'login', action: 'admin' %></a></li>
<li class="Button"><a><%= form_tag 'srch', method: :post do %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= text_field_tag :tags  %>

<%= submit_tag("Search") %>  <% end %>
</a></li>


<li><t>
<% 
a1 = session[:id] 
check = Admin.where(:id=>a1)
puts(check[0].fname)
%>
<%= check[0].fname %>
<%= check[0].lname %> 
</t></li>
<li><t>___________</t></li>
<li><t>Add Directors</t></li>

</ul>
</div>
<n><% @em.each do |x| %>
<%= x %>
<% end %></n>
<div id="content4">

<%= form_tag '/adddir', method: :post , :multipart=>true do %>

  <p>
    <h1><%= label_tag :Director_First_Name %> :</h1>
    <%= text_field_tag :fname %>
    <h1><%= label_tag :Director_Last_Name %> :</h1>
    <%= text_field_tag :lname %>
    <h1><%= label_tag :Date_Of_Birth %> :</h1>
    <%= text_field_tag :dob %>
    <h1><%= label_tag :Director_Details %> :</h1>
    <%= text_area_tag :notes %>
     <h1>Add Photo :</h1> 
	<div class="Button"><%= file_field_tag :picture %></div>
 </p>
<div class="Button"><%= submit_tag("Add Director") %></div>
<% end %>
</div>
</div>
</body>


</html>

