<li>

 <% @em.each do |x| %>
<ul><%= x %></ul>
<% end %>

</li>

<%= form_tag '/_addmov', method: :post do %>
<br>
<p>Welcome
<% 
a1 = session[:id] 
check = Admin.where(:id=>a1)
puts(check[0].fname)
%>
<%= check[0].fname %>
<%= check[0].lname %> 
</p>
  <p>
    <%= label_tag :Movie_Name %>
    <%= text_field_tag :mn %></br></br>
    <%= label_tag :Casts %>
    <%= text_field_tag :act %>
 </p>
<p>
    <%= label_tag :Date_Of_Release %>
    <%= date_field_tag :dor %>
</p>
<p>
    <%= label_tag :Trailer_Link %>
    <%= text_field_tag :video %> 
</p>
<p>
    <%= label_tag :Runtime %>
    <%= text_field_tag :duration %> 
</p>
<p>
    <%= label_tag :Genre_1 %>
    <%= text_field_tag :gen1 %> 
</p>
<p>
    <%= label_tag :Genre_2 %>
    <%= text_field_tag :gen2 %> 
</p>
<p>
    <%= label_tag :Trailer_Link %>
    <%= text_field_tag :video %> 
</p>
<p>
    <%= label_tag :Synopsis %>
    <%= text_area_tag :description %> 
</p>
<p>
    Add Photo
    <%= file_field_tag :picture %>
</p>
<%= submit_tag("Register")%>
<% end %>
